---
import GenericIcon from '../icons/GenericIcon.astro'
import Cluster from '../ui-elements/Cluster.astro'

const { id, photoUrl, name, company, size, socials } = Astro.props
---

<div class="speaker" data-size={size}>
    <Cluster space="var(--s-3) var(--s-2)" align="center" nowrap>
        {photoUrl && <img alt="" class="speaker-photo" src={photoUrl} />}
        {!photoUrl && <span class="speaker-photo-fallback">{name.charAt(0).toUpperCase()}</span>}
        <a href={`/speakers/${id}`} style="line-height: 1.2;">{name}</a>
    </Cluster>

    <div class="speaker-info">
        <div class="speaker-info-company">{company}</div>

        {
            socials && (
                <ul class="list-inline">
                    {socials.map((social: { icon: string; link: string }) => (
                        <li class="list-inline-item">
                            <a
                                href={social.link}
                                class="speaker-social-icon"
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label={social.icon}>
                                <GenericIcon name={social.icon} />
                            </a>
                        </li>
                    ))}
                </ul>
            )
        }
    </div>
</div>

<style>
    .speaker {
        --photo-size: 48px;

        font-size: 1.25rem;

        &[data-size='sm'] {
            --photo-size: 20px;

            font-size: 1rem;
        }

        a {
            color: var(--text);
            text-decoration: 2px underline var(--line);
            text-underline-offset: 2px;
            transition: text-decoration var(--animation);

            &:hover {
                text-decoration-color: var(--border);
            }
        }
    }

    .speaker-photo {
        border-radius: 50%;
        height: var(--photo-size);
        width: var(--photo-size);
        max-width: var(--photo-size);
        flex: 0 0 auto;
    }

    .speaker-photo-fallback {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--photo-size);
        width: var(--photo-size);
        max-width: var(--photo-size);
        font-weight: 700;
        flex: 1 0 auto;
        background-color: #ccc;
        border-radius: calc(var(--photo-size) / 2);
        font-size: calc(var(--photo-size) * 0.675);
    }

    .speaker-info {
        line-height: 1.2;
        padding-top: var(--s-3);
        padding-left: calc(var(--photo-size) + var(--s-2));
    }

    .speaker-info-company {
        font-size: 0.675em;
    }

    .speaker-social-icon {
        fill: var(--text-subtle);
        transition: fill var(--animation);

        &:hover {
            fill: var(--brand-solid);
        }
    }
</style>
