---
import Layout from './Layout.astro'
import Separator from '../components/ui-elements/Separator.astro'
import ContentContainer from '../components/ui-elements/ContentContainer.astro'
import Cluster from '../components/ui-elements/Cluster.astro'

interface Props {
    title: string
    htmlTitle?: string
    description?: string
    subDescription?: string
    metaImage?: string | null
    metaDescription?: string
}

const { title, htmlTitle, description, subDescription, metaImage, metaDescription } = Astro.props

const titleHtml = htmlTitle || title
---

<Layout title={titleHtml} metaImage={metaImage} description={metaDescription}>
    <ContentContainer spaceBlock="4rem">
        <slot name="subtitle" />
        <Cluster space="var(--s-2)" align="center">
            <slot name="pre-title" />
            <h1>{title}</h1>
        </Cluster>
        {description && <p class="fs1">{description}</p>}

        <slot name="description" />
    </ContentContainer>
    <Separator bottomMargin={!subDescription} />
    {
        subDescription && (
            <div style="background-color: var(--component)">
                <ContentContainer spaceBlock="4rem">
                    <p class="fs1">{subDescription}</p>
                </ContentContainer>
            </div>
        )
    }
    <ContentContainer spaceBlock="4rem">
        <slot />
    </ContentContainer>
</Layout>
